.full-width {
    width: 100%;
}

mat-grid-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

mat-grid-tile {
    display: flex;
    align-items: center;
    justify-content: center;
}