<div class="content" role="main">
    <form class="search-form" (ngSubmit)='searchPhotos(this.pageIndex+1)'>
        <mat-form-field class="full-width">
            <mat-label>Ex. Corgi</mat-label>
            <input matInput placeholder="Ex. Corgi" name="searchkey" [(ngModel)]="searchKey">
        </mat-form-field>
        <button mat-raised-button type='submit'>Search</button>
    </form>
    <br>
    
    <mat-grid-list class="photo-list" cols="5">
        <mat-list-item *ngFor="let photo of this.photoList">
          <mat-grid-tile >
            <mat-card class="photo-card">
                <mat-card-header>
                  <mat-card-subtitle>{{photo.photographer}}</mat-card-subtitle> 
                </mat-card-header>
                <div class="bg-image ripple" data-mdb-ripple-color="light">
                    <img mat-card-image [src]="photo.src.medium" alt="image">
                </div>
                
            </mat-card>
        </mat-grid-tile>
       </mat-list-item>
    </mat-grid-list>

    <mat-paginator [length]="length"
              [pageSize]="10"
              aria-label="Select page"
              hidePageSize = "true"
              [pageIndex]="pageIndex"
              (page)="handlePageEvent($event)">
    </mat-paginator>
</div>

